//<ПЕРЕМЕННЫЕ>===========================================================================================================
@import "var.scss";
//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<МИКСИНЫ>===============================================================================================
@import "mixin.scss";
//</МИКСИНЫ>===============================================================================================

//<ШРИФТЫ>===============================================================================================

//<Подключаем шрифты>=======================================================================================
@include font("Roboto-R", "Roboto-Regular", 400, normal);
@include font("Roboto-B", "Roboto-Bold", 700, normal);
//</Подключаем шрифты>=======================================================================================

//<Шрифт по умолчанию>==========================================================================================
$fontfamily: "Roboto-R";
//</Шрифт по умолчанию>==========================================================================================

//</ШРИФТЫ>=======================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "reset.scss";
body {
  color: #000;
  font-size: 14px;
  &.lock {
    overflow: hidden;
  }
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
  width: 100%;
  min-height: 100%;
	overflow: hidden;
	background-color: #000;
}
//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
.container {
  max-width: $mw + px;
  margin: 0 auto;
  padding: 0px 15px;
  width: 100%;
  @media (max-width: $md1+px) {
    max-width: 960px;
  }
  @media (max-width: $md2+px) {
    max-width: 720px;
  }
  @media (max-width: $md3+px) {
    max-width: 540px;
  }
  @media (max-width: $md4+px) {
    max-width: none;
  }
}
//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
@import "forms.scss";
@import "ui.scss";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================

//<ОСНОВНОЙ БЛОК>====================================================================================================
.table {
	padding: 100px 0px;
}
.user-table {
	width: 100%;
	border-collapse: collapse;
  color: #fff;
  margin: 0px 0px 50px 0px;
  &__head {
		font-size: 18px;
		th{
			text-align: left;
			padding: 10px;
			border: 1px solid #fff;
			letter-spacing: 1px;
      font-family: 'Roboto-B';
      position: relative;
      cursor: pointer;
      @include anim(0.3s,0s);
      @media (min-width: 992px){
        &:hover{
          box-shadow: $box-shadow;
        }
      }
      &:before{
        content:'\27A4';
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translate(0px, -50%);
        @include anim(0.3s,0s);
      }
    }
    th[data-sort]{
      &:before{
        transform: translate(0px, -50%) rotate(-90deg);
      }
    }
    th[data-sort="sort-reverse"]{
      &:before{
        transform: translate(0px, -50%) rotate(90deg);
      }
    }
	}
	&__row{
	}
	&__cell{
		font-size: 16px;
		padding: 10px;
    border: 1px solid #fff;
  }
  &__cell[data-user-id]{
    cursor: pointer;
    @include anim(0.3s,0s);
    @media (min-width: 992px){
      &:hover{
        box-shadow: $box-shadow;
      }
    }
  }
}

.table-control{
  display: flex;
  justify-content: center;
  margin: 0px 0px 50px 0px;
  button{
    margin: 0px 10px;
  }
}

.user-info{
  &__body{
    border: 1px solid #fff;
    color: #fff;
    padding: 10px;
  }
  &__name{
    font-size: 22px;
    font-family: 'Roboto-B';
    text-align: center;
    margin: 0px 0px 10px 0px;
  }
  &__text{
    width: 100%;
    margin: 0px 0px 10px 0px;
    font-size: 18px;
    padding: 10px;
  }
  &__field{
    margin: 0px 0px 10px 0px;
    font-size: 16px;
  }
}

//====================================================================================================

//</ОСНОВНОЙ БЛОК>====================================================================================================
